<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise CSS 📄</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 1)  Efekti Butona basarak başlatın. Efekt "highlight" ve/veya "shrink" class'ları arasında değişmelidir.
        Bu değişim her bir interval döngüsünde olmalıdır. ("effect" id' li div'e o anki aktif olan class eklenecektir.) -->
      <div class="marg">
        <button @click="startEffect">Efekti Başlat!</button>
        <div id="effect" :class="classEffect">Foo Bar</div>
      </div>

      <!-- 2) Birkaç tane CSS Class'ı üreterek bu Class'ları Array Syntax'ı ile aşağıdaki <div>' e ekleyiniz -->
      <div class="marg">
        <div :class="{box: true, jellyGreen: isPlaying, blue: toggle}">
          Henüz bir class'ım yok :(
        </div>
      </div>

      <!-- 3) Örnek birkaç tane Class üreterek (Ya da ürettiklerinizi kullanarak) <input> içerisine Class adı girerek hemen alttaki <div> elementine bu yazılan Class'ı eklemeyi yapınız. -->
      <div class="marg">
        <input type="text" v-model="inputClassName" placeholder="Soru 3: " />
        <div :class="inputClassName">Foo Bar</div>
      </div>

      <!-- 4) Kullanıcının Class isimlerini girebileceği iki adet <input> elementimiz var. Bunları kullanarak 
        hemen alttaki <div> elementinin Class'larini attached etmesini sağlayınız  -->
      <div class="marg">
        <input type="text" placeholder="Soru 4: " v-model="textField1" />
        <input type="text" placeholder="Soru 4: " v-model="textField2" />
        <div :class="[textField1, textField2]">Foo Bar</div>
      </div>

      <!-- 5) 3.Uygulamayı tekrarlayın. Fakat bu sefer Class Adı yerine Denk gelecek Style Kodlarını ekleyiniz.  -->
      <div class="marg">
        <input type="text" placeholder="Soru 5: " v-model="styleNames" />
        <div class="box" :style="computedStyle">Foo Bar</div>
      </div>

      <!-- 6) setInterval ve Style Binding kullanarak Basit bir progress bar üretin. Progress bar' ın çalışmasını buton'a basarak başlatın. -->
      <div class="marg">
        <button @click="startProgress">Progress İşlemini Başlat!</button>
        <div class="progress-box">
          <div class="progress-fill" :style="{width: percent + '%'}">
            <p>{{ percent }}%</p>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
