<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Index 📄</title>
    <style>
      .nani  {
        display: block;
        height: 400px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        background-color: gray;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(chapter, index) in chapters" :key="index">
          <h2>{{chapter.name}}</h2>
          <ul>
            <li v-for="project in chapter.apps">
              <a :href="project.path">{{project.app_name}}</a>
            </li>
          </ul>
          <hr />
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          chapters: [
            {
              name: "Testing-Folder-CTE",
              apps: [
                {
                  app_name: "Async/Await",
                  path: "0-Testing-Folder-CTE/Async-Await/index.html",
                },
                {
                  app_name: "Callback",
                  path: "0-Testing-Folder-CTE/Callback/index.html",
                },
                {
                  app_name: "ComputedVSMethod",
                  path: "0-Testing-Folder-CTE/ComputedVSMethod/index.html",
                },
                {
                  app_name: "KeyPress",
                  path: "0-Testing-Folder-CTE/KeyPress/index.html",
                },
                {
                  app_name: "Promises",
                  path: "0-Testing-Folder-CTE/Promises/index.html",
                },
                {
                  app_name: "Quiz",
                  path: "0-Testing-Folder-CTE/Quiz/EarlyTakes/Take1/index.html",
                },
                {
                  app_name: "TodoList",
                  path: "0-Testing-Folder-CTE/TodoList/index.html",
                },
              ],
            },
            {
              name: "Inception",
              apps: [
                { app_name: "First App", path: "1-Inception/1-first-app.html" },
                {
                  app_name: "First App Continue",
                  path: "1-Inception/2-first-app-continue.html",
                },
                {
                  app_name: "Second App",
                  path: "1-Inception/3-second-app.html",
                },
              ],
            },
          ],
        },
      });
    </script>
  </body>
</html>
<!-- 
            { name: "DOM-Vue", apps: [] },
            { name: "CSS-Vue-Interactions", apps: [] },
            { name: "Statements-and-Lists", apps: [] },
            { name: "Inception", apps: [] }, -->
